@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Radio Canada', sans-serif;
}


.header-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-header {
  font-size: 5rem;
  font-weight: 700;
}


.header-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body {
  transition: all 0.3s;
  width: 30rem;
  height: 20rem;
  color: #000;
  background: #fff;
  border: 0.1px solid #42445a;
  border-radius: 0.3rem;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo-img {
  border-radius: 50%;
  border: 1px solid #42445A;
  width: 5rem;
  height: 5rem;
}

.h2-header {
  color: #4796F4;
  margin-top: -15%;
  position: absolute;
  font-weight: 700;
  font-size: 3rem;
}

input {
  width: 30rem;
  height: 3rem;
  outline: none;
  border: 0.1px solid #42445a;
  background: #fff;
}

.select-sect {
  display: flex;
  flex-direction: column;
}

select {
  width: 30rem;
  height: 3rem;
  outline: none;
  border: 0.1px solid #42445a;
  margin-top: 2%;
  background: #fff;
}



input:hover {
  border: 2px solid #4796F4;
  border-radius: 0.3rem;
  transform: rotateY(20deg);
  transition: all .3s ease;
}

select:hover {
  border: 2px solid #4796F4;
  border-radius: 0.3rem;
  transform: rotateY(30deg);
  transition: all .3s ease;
}

.btn-sect {
  margin-top: -20%;
}

.select-quality {
  margin-top: -40%;
}


.h2-user {
  font-size: 1.5rem;
  position: absolute;
  color: gray;
  margin-top: 10%;
}

.user-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .3s ease;
}


#user-bg {
  background: #fff;
  margin-top: 40%;
}

h3 {
  color: #000;
  transition: all .3s ease;
}

.carousel {
  width: 60rem;
  height: 40rem;
  border: 4px solid #fff;
  border-radius: 0.3rem;
  box-shadow: 2rem 1rem 0 0 #4796F4;
  background: transparent;
}

img {
  width: 40rem;
  height: 40rem;
  border-radius: 0.3rem;
}

.carousel-cell::before {
  display: block;
}

.flickity-button {
  background: transparent;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.5rem 0 0 0;
}

.flickity-prev-next-button:hover {
  background: none;
  border-color: #aaa;
}



@media (max-width:768px) {
  .h1-header {
    margin-top: 4%;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .logo-img {
    margin-top: 2%;
    border-radius: 50%;
    border: 1px solid #42445A;
    width: 2rem;
    height: 2rem;
  }

  .h2-header {
    color: #4796F4;
    margin-top: -55%;
    position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .card-body {
    transition: all .3s ease-in;
    width: 22rem;
    height: 20rem;
    color: #000;
    background: #fff;
    border: 0.1px solid #42445a;
    border-radius: 0.3rem;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn-sect {
    margin-top: -30%;
  }

  .select-quality {
    margin-top: -60%;
  }

  .h2-user {
    margin-top: -50%;
    transition: all .3s ease;
    margin-left: 10%;
  }

  #user-bg {
    margin-top: 25%;
  }

  .carousel {
    width: 26rem;
    height: 20rem;
    border: 4px solid #4796F4;
    border-radius: 0.3rem;
    box-shadow: 2rem 1rem 0 #4796F4;
    background: transparent;
  }

  img {
    width: 20rem;
    height: 20rem;
    border-radius: 0.3rem;
  }

  .flickity-button {
    background: transparent;
  }

  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.5rem 0 0 0;
    color: #fff;
  }
}





@media (prefers-color-scheme:dark) {
  body {
    background: #000;
  }

  .h1-header {
    color: #fff;
  }

  .card-body {
    color: #fff;
    background: #000;
  }

  .link {
    background: #000;
    color: #fff;
  }

  .formte {
    background: #000;
    color: #fff;
  }

  .link:hover {
    background: #000;
    color: #fff;
  }

  .formte:hover {
    background: #000;
    color: #fff;
  }

  #user-bg {
    background: #000;
    transition: all .3s ease;
  }

  h3 {
    color: #fff;
  }
}